---
layout: default
title: Archive
---

<head>

</head>
<body >

</body>



  <h2>Archive</h2>

  <section class="archive_list">
    {% for category in site.categories %}

    <!--<div class="category-name">
      <h3>{{ category | first }}</h3>
    </div>-->
    {% for post in category.last %}

    <div class="post_title">
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h3>
      <!--<span class="date">{{ post.date | date: "%-d %B - %A, %Y " }}</span>-->
    </div>

    {% endfor %}

    {% endfor %}

  </section>





