---
layout: default
title: Программы
---

<head>
</head>

<body>
  <h3>Программы</h3>

  <section class="archive_list">
    <!-- Ищем категорию "Программы" -->
    {% assign target_category = site.categories['Программы'] %}
    
    <!-- Если категория найдена, перебираем её посты -->
    {% if target_category %}
      {% for post in target_category %}
        <div class="post_title">
          <h3>
            <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <span class="date">
            {{ post.date | date: "%d - %m - %Y" }}
          </span>
        </div>
      {% endfor %}
    {% else %}
      <p>Категория «Программы» не найдена.</p>
    {% endif %}
  </section>
</body>
